<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片轮播</title>
</head>
<body>
<img src="/static/images/image1.jpg">
<div class="outer">
    <ul class="img">
        <li><a><img src="/static/images/image1.jpg"></a></li>
        <li><a><img src="/static/images/image2.jpg"></a></li>
        <li><a><img src="/static/images/image3.jpg"></a></li>
    </ul>
    <ul class="num">
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ul>
</div>
<div class="left_btn"> < </div>
<div class="right_btn"> > </div>
</body>
</html>